# PrimeVue community license key (tier:community).
# Obtain a free key at https://primevue.org/lts for your own deployment.
# DO NOT commit your personal key — keep it in .env.local (gitignored).
VITE_PRIMEVUE_LICENSE=
